body{
    max-width: 1440px;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.container{
    border-radius: 10px;
    margin: 10em auto;
    display: flex;
}
.mobile-graphix-container{
    display: none;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media screen and (max-width: 1370px){
    body{
        max-width: 375px;
    }
}